/* Navbar.css */
body{
  background: rgba(53,50,49,1) 
}
.navbar {
    background-color: #242323;
    color: #fff;
    display: flex;
 
    justify-content: space-between;
   
    margin-bottom: 2rem;
  }

  .right{
    display: flex;
    align-items: center;
  }
  .logout{

    padding: 8px 8px;
    border-radius: 5px;
    background-image: linear-gradient(to right,#FFCE00 50%,#FFCE00 50%);
    transition: 0.4s;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
  
  }
  /* .left{
width: 30%;
  }
  .right{
width: 50%;
  } */
  .navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
  
  }
  
  .navbar li {
    margin: 0 10px;
    font-weight: 700;
    transition: all 0.5s;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
    transition: all 0.5s;
  }

